.widget-text {
  background-color: #ec663c;

  h3.title {
    font-family: 'Ubuntu Condensed', 'Helvetica Nue';
    text-shadow: 1px 1px 2px #000;
    font-size: 4em;
    margin-bottom: 20px;
  }

  p.text {
    font-family: 'Helvetica Neue';
    font-weight: 200;
    text-shadow: 1px 1px 2px #000;
    font-size: 1.6em;
  }
}
