@import 'bourbon/bourbon';

$background-notice-color-1: #eeae32;
$background-notice-color-2: #ff9618;
$text-notice-color: #fff;

@-webkit-keyframes active-notification {
  0%   { background-color: $background-notice-color-1; }
  50%  { background-color: $background-notice-color-2; }
  100% { background-color: $background-notice-color-1; }
}

.widget-notification {
  color: $text-notice-color;
  background-color: $background-notice-color-1;
  @include animation(active-notification 10s infinite ease);

  p.text {
    font-family: 'Ubuntu Condensed', 'Helvetica Nue';
    font-weight: 200;
    text-shadow: 1px 1px 2px #000;
    font-size: 3.2em;
  }
}
