$value-color:       #979697;

$title-color:       #363636;
$label-color:       #363636;

.widget-list {

  margin: 0 !important;
  padding: 0 !important;

  vertical-align: top !important;

  .title {
    font-family: 'Ubuntu Condensed', 'Helvetica Neue';
    font-weight: 900;
    font-size: 2em;
    color: $title-color;
  }

  ul {
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: left;
    color: $label-color;
    list-style: none;
    display: table;
  }

  li {
    display: table-row;
    width: 100%;
  }

  .label {
    font-family: 'Ubuntu Condensed', 'Helvetica Neue';
    font-weight: 900;
    font-size: 1.8em;
    padding-left: 20px;
    color: $label-color;
    display: table-cell;
    vertical-align: middle;
    width: 80%;
  }

  .value {
    font-size: 1.6em;
    margin-left: 12px;
    text-shadow: 1px 1px 2px #000;
    font-family: 'Concert One', cursive;
    color: $value-color;
    display: table-cell;
    vertical-align: middle;
    width: 20%;
    text-align: right;
    padding-right: 20px;
  }
}
